- var globalPageType = getPageType(page, is_home)
- var htmlClassHideAside = theme.aside.enable && theme.aside.hide ? 'hide-aside' : ''
- page.aside = globalPageType === 'archive' ? theme.aside.display.archive: globalPageType === 'category' ? theme.aside.display.category : globalPageType === 'tag' ? theme.aside.display.tag : page.aside
- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''
- var pageType = globalPageType === 'post' ? 'post' : 'page'
- pageType = page.type ? pageType + ' type-' + page.type : pageType

doctype html
html(lang=config.language data-theme=theme.display_mode class=htmlClassHideAside)
  head
    include ./head.pug
  body
    if theme.preloader.enable
      !=partial('includes/loading/index', {}, {cache: true})
    //- 首先取到所有的背景数值。如果没有就先按照默认的背景逐一赋值
    - $default_bg = page.default_bg || theme.background.default_bg
    - $dark_bg = page.dark_bg || theme.background.dark_bg || $default_bg
    - $mobile_bg = page.mobile_bg || theme.background.mobile_bg || $default_bg
    - $mobile_dark_bg = page.mobile_dark_bg || theme.background.mobile_dark_bg || $dark_bg
    if theme.background
      #web-bg
        #default-bg(style=`background:`+ $default_bg+`;`)
        #dark-bg(style=`background:`+ $dark_bg+`;`)
        #mobile-bg(style=`background:`+ $mobile_bg+`;`)
        #mobile-dark-bg(style=`background:`+ $mobile_dark_bg+`;`)
    !=partial('includes/sidebar', {}, {cache: true})  

    #body-wrap(class=pageType)
      include ./header/index.pug

      main#content-inner.layout(class=hideAside)
        if body
          div!= body
        else
          block content
          if theme.aside.enable && page.aside !== false
            include widget/index.pug

      - const footerBg = theme.footer_img
      - const footer_bg = footerBg ? footerBg === true ? bg_img : getBgPath(footerBg) : ''
      footer#footer(style=footer_bg)
        !=partial('includes/footer', {}, {cache: true})

    include ./rightside.pug
    include ./additional-js.pug